name: Setup Node and PNPM

description: Sets up Node.js and PNPM.

runs:
    using: 'composite'
    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup PNPM
          uses: pnpm/action-setup@v4
        - name: Setup Node
          uses: actions/setup-node@v4
          with:
              node-version: '20'
              cache: 'pnpm'
              cache-dependency-path: 'pnpm-lock.yaml'

        - name: Install Dependencies
          run: pnpm install --frozen-lockfile --prefer-offline
          shell: bash