.sidebar {
    background-color: var(--mantine-color-ldGray-0);
    border: 0;
}

.treeItem {
    border-radius: var(--mantine-radius-md);
    cursor: pointer;
    text-align: start;
    transition: background-color 0.15s ease-in-out;

    &:hover {
        background-color: var(--mantine-color-ldGray-1);
    }
}

.treeItemActive {
    background-color: var(--mantine-color-indigo-light);
    border: 1px solid var(--mantine-color-indigo-light) !important;

    &:hover {
        background-color: var(--mantine-color-indigo-light-hover);
    }
}

@media (width < $mantine-breakpoint-sm), (pointer: coarse) {
    .sidebar :global(.mantine-Button-root),
    .treeItem {
        min-height: 44px;
    }
}
