.root {
    padding: var(--mantine-spacing-sm);
}

.listOption {
    width: 100%;
    padding: rem(7px) var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    cursor: pointer;

    &:hover {
        @mixin light {
            background-color: var(--mantine-color-ldGray-0);
        }

        @mixin dark {
            background-color: var(--mantine-color-dark-6);
        }
    }

    &:focus-visible {
        outline: 2px solid var(--mantine-color-gray-5);
        outline-offset: 2px;
    }
}

.emptyState {
    padding-inline: var(--mantine-spacing-xs);
}

@media (max-width: 48em) {
    .root {
        max-width: calc(100vw - rem(32px));
    }
}
