.control {
    flex: 0 0 rem(146px);
    width: rem(146px);
    min-width: rem(146px);
    max-width: rem(146px);
}

.controlInner {
    width: 100%;
}

.activeSegment.activeSegment {
    background-color: var(--mantine-color-blue-light);

    &:hover {
        background-color: color-mix(
            in srgb,
            var(--mantine-color-blue-filled) 18%,
            transparent
        );
    }
}

.activeMain.activeMain {
    flex: 0 0 calc(100% - rem(24px));
    width: calc(100% - rem(24px));
    padding-left: var(--mantine-spacing-xs);
    padding-right: rem(6px);
    border-radius: var(--mantine-radius-xl) 0 0 var(--mantine-radius-xl);
}

.exitSegment.exitSegment {
    flex: 0 0 rem(24px);
    width: rem(24px);
    min-width: rem(24px);
    border-radius: 0 var(--mantine-radius-xl) var(--mantine-radius-xl) 0;
}
