.item {
    display: flex;
    align-items: center;
    border-radius: var(--mantine-radius-md);
    border: 1px solid
        light-dark(var(--mantine-color-ldGray-2), var(--mantine-color-ldDark-5));
    padding: var(--mantine-spacing-xs);
    padding-left: calc(var(--mantine-spacing-xl) - var(--mantine-spacing-md));
    background-color: light-dark(
        var(--mantine-color-white),
        var(--mantine-color-ldDark-5)
    );
    margin-bottom: var(--mantine-spacing-xs);
}

.itemDragging {
    box-shadow: var(--mantine-shadow-sm);
}

.dragHandle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: light-dark(
        var(--mantine-color-ldGray-6),
        var(--mantine-color-ldDark-1)
    );
    cursor: grab;
}
