.root {
    height: 100%;
    min-height: 0;
    padding: var(--mantine-spacing-md);
    padding-bottom: 0;
}

.header {
    flex: 0 0 auto;
    padding-bottom: var(--mantine-spacing-md);
    border-bottom: 1px solid
        light-dark(var(--mantine-color-ldGray-2), var(--mantine-color-ldDark-5));
}

.body {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
    padding-top: var(--mantine-spacing-md);
}

.configure {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
}

.selectedChart {
    flex: 0 0 auto;
}
