/* Select input styles */
.input {
    font-weight: 500;
    font-size: 14px;
    height: 32px;
    border-color: var(--mantine-color-ldGray-2);
    border-radius: var(--mantine-radius-md) 0 0 var(--mantine-radius-md);
    box-shadow: var(--mantine-shadow-subtle);

    border-right: none;

    &:hover {
        background-color: var(--mantine-color-ldGray-0);
        transition: background-color var(--mantine-transition-duration)
            var(--mantine-transition-timing-function);
    }

    &[value=''] {
        border: 1px dashed var(--mantine-color-ldGray-4);
    }
}

/* Dropdown option styles */
.option {
    font-size: 14px;

    &[data-checked='true'] {
        color: var(--mantine-color-ldGray-7);
        font-weight: 500;
        background-color: var(--mantine-color-ldGray-0);
    }

    &[data-checked='true']:hover {
        background-color: var(--mantine-color-ldGray-0);
    }

    &:hover {
        background-color: var(--mantine-color-ldGray-0);
        transition: background-color var(--mantine-transition-duration)
            var(--mantine-transition-timing-function);
    }
}

/* Dropdown container */
.dropdown {
    min-width: 300px;
}

/* Right section (chevron icon) */
.section {
    pointer-events: none;
}

/* Date display */
.dateDisplay {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 var(--mantine-spacing-sm);
    border: 1px solid var(--mantine-color-ldGray-2);
    border-radius: var(--mantine-radius-md);
    background-color: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-subtle);
    white-space: nowrap;
    color: var(--input-color);

    @mixin dark {
        background-color: var(--mantine-color-ldGray-0);
        border-color: var(--mantine-color-ldGray-2);
    }
}

.dateDisplayGroupped {
    border-radius: 0 var(--mantine-radius-md) var(--mantine-radius-md) 0;
}
