.filterButton {
    border: 1px dashed var(--mantine-color-ldGray-3);
    background: var(--mantine-color-background);
    box-shadow: var(--mantine-shadow-subtle);
}

.filterButton:hover {
    border: 1px dashed var(--mantine-color-ldGray-4);
    background: var(--mantine-color-ldGray-0);
}

.filterButtonSelected {
    border: 1px solid var(--mantine-color-indigo-2);
    background: var(--mantine-color-indigo-0);
    box-shadow: var(--mantine-shadow-subtle);

    @mixin dark {
        background: var(--mantine-color-indigo-8);
        border-color: var(--mantine-color-indigo-4);
    }
}

.filterButtonSelected:hover {
    border: 1px solid var(--mantine-color-indigo-3);
    background: var(--mantine-color-indigo-1);

    @mixin dark {
        background: var(--mantine-color-indigo-9);
    }
}
