.filterButton {
    border: 1px dashed var(--mantine-color-ldGray-3);
    background: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-subtle);
}

.filterButton:hover {
    border: 1px dashed var(--mantine-color-ldGray-4);
    background: var(--mantine-color-ldGray-0);
}

.filterButtonSelected {
    border: 1px solid var(--mantine-color-indigo-2);
    background: var(--mantine-color-indigo-0);
    box-shadow: var(--mantine-shadow-subtle);
}

.filterButtonSelected:hover {
    border: 1px solid var(--mantine-color-indigo-3);
    background: var(--mantine-color-indigo-1);
}
