.banner {
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-md);
    border-bottom: 1px solid var(--mantine-color-yellow-6);

    @mixin light {
        background-color: var(--mantine-color-yellow-0);
    }
    @mixin dark {
        background-color: alpha(var(--mantine-color-yellow-9), 0.15);
    }
}

.filterNameTag {
    cursor: pointer;
}

.filterNameTag:hover {
    @mixin light {
        background-color: var(--mantine-color-yellow-1);
    }
    @mixin dark {
        background-color: alpha(var(--mantine-color-yellow-6), 0.15);
    }
}
