.questionCard {
    transition: all 0.15s ease;
    overflow: hidden;
    padding: var(--mantine-spacing-xs);
    cursor: pointer;
    border-radius: var(--mantine-radius-md);
    transition: background-color 0.15s ease;
    display: block;
    color: var(--mantine-color-ldGray-7);
}

.questionCard:hover {
    border-color: var(--mantine-color-blue-4);
}

.questionCard:hover:not(:disabled) {
    background-color: var(--mantine-color-ldGray-0);
}
