:root {
    @mixin light-root {
        --table-selected-bg: #ecf6fe;
        --table-selected-border: #4170cb;
    }

    @mixin dark-root {
        --table-selected-bg: var(--mantine-color-blue-9);
        --table-selected-border: var(--mantine-color-blue-5);
    }
}

html,
body {
    background-color: var(--mantine-color-ldGray-0);
}

html[data-mantine-color-scheme='dark'],
html[data-mantine-color-scheme='dark'] body {
    background-color: var(--mantine-color-ldDark-0);
}

html[data-lightdash-minimal-visualization],
html[data-lightdash-minimal-visualization] body {
    background-color: white;
}

body {
    font-size: 14px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

b {
    font-weight: bold;
}

strong {
    font-weight: 600;
}

.ace_editor.ace_autocomplete {
    width: 500px;
}

.ace_editor * {
    font-family: Menlo, 'Ubuntu Mono', Consolas, 'source-code-pro', monospace;
}

.wmde-markdown,
.wmde-markdown-var {
    font-family: var(--mantine-font-family);
}

.wmde-markdown img {
    background-color: transparent;
}

:lang(ja) {
    font-family: 'Noto Sans CJK JP', var(--mantine-font-family);
}

:lang(zh-CN),
:lang(zh-Hans) {
    font-family: 'Noto Sans CJK SC', var(--mantine-font-family);
}

:lang(zh-TW),
:lang(zh-Hant) {
    font-family: 'Noto Sans CJK TC', var(--mantine-font-family);
}

:lang(ko) {
    font-family: 'Noto Sans CJK KR', var(--mantine-font-family);
}

html[data-mantine-color-scheme='dark'] [class*='mantine-'][data-with-border] {
    border: 1px solid var(--mantine-color-ldDark-2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
