/* .ace_gutter-layer {
    background: #f8f8f8;
}



.ace_content .fullscreen {
    width: 100%;
    height: isFullScreen ? `calc(100vh - 350px)` : '100px',
    minHeight: isFullScreen ? '100px' : '100%',
}
 */
