.tabsRoot {
    --tabs-stuck: 0;

    &:has(.stickyTabsAndFilters[data-is-stuck='true']) {
        --tabs-stuck: 1;
    }
}

/* Wrapper for tabs and filters - always sticky together */
.stickyTabsAndFilters {
    position: sticky;
    top: 0;
    border-bottom: 1px solid transparent;
    z-index: var(--dashboard-tabs-zindex);
    isolation: isolate;

    /* When header is sticky above (edit mode), position below it */
    &[data-has-header-above='true'] {
        top: var(--dashboard-header-height);
    }

    &[data-is-stuck='true'] {
        border-color: var(--mantine-color-ldGray-3);
    }

    :global(body:has(#preview-banner)) & {
        top: var(--banner-height);
    }

    :global(body:has(#preview-banner)) &[data-has-header-above='true'] {
        top: calc(var(--dashboard-header-height) + var(--banner-height));
    }
}

.list {
    &::before {
        border-bottom: 0;
    }
    @mixin dark {
        background-color: var(--mantine-color-background-0);
    }
    @mixin light {
        background-color: var(--mantine-color-white);
    }

    align-items: center;

    overflow-x: auto;
    flex-wrap: nowrap;

    > * {
        &:not(:last-child) {
            margin-right: 2px;
        }
        &:not(:first-child) {
            margin-left: 2px;
        }
    }
}

.tab {
    font-size: 13px;
    font-weight: 500;

    height: var(--dashboard-tab-height);
    border-radius: 0;

    font-size: 13px;
    color: var(--mantine-color-ldGray-6);

    padding: 0 var(--mantine-spacing-sm);

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.3;
    }

    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    transition: all 150ms ease;

    &:hover {
        border-top: 2px solid transparent;
        color: var(--mantine-color-ldGray-7);
        border-bottom: 2px solid var(--mantine-color-ldGray-2);
    }

    &[data-active='true'] {
        color: var(--mantine-color-ldGray-9);
        border-bottom: 2px solid var(--mantine-color-ldGray-9);
    }
}

.filtersBar {
    padding: var(--mantine-spacing-xs) 0;
    @mixin dark {
        background-color: var(--mantine-color-ldDark-0);
    }
    @mixin light {
        background-color: var(--mantine-color-ldGray-0);
    }
}
