.paperRoot {
    overflow: hidden;
    margin-top: var(--mantine-spacing-xl);
    margin-bottom: var(--mantine-spacing-xl);
}

.textareaInput {
    border: none;
    background: transparent;
    resize: none;
    font-size: var(--mantine-font-size-md);

    &:focus {
        outline: none;
    }
}

.modeButton {
    font-weight: 500;
}

.startIconWrapper {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoIcon {
    width: 14px;
    height: 14px;
}

