.container {
    border: 1px solid var(--mantine-color-ldGray-4);
    border-radius: var(--mantine-radius-md);
}

.header {
    padding: var(--mantine-spacing-sm);
    border-bottom: 1px solid var(--mantine-color-ldGray-4);
    background-color: var(--mantine-color-ldGray-0);
    border-radius: var(--mantine-radius-md);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.headerRow {
    align-items: center;
    gap: var(--mantine-spacing-sm);
}

.headerSearch {
    flex: 1;
}

.scrollContainer {
    height: 360px;
    overflow: auto;
}

.virtualInner {
    position: relative;
    width: 100%;
}

.row {
    position: absolute;
    left: 0;
    right: 0;
}

.emptyState {
    height: 100%;
}
