.swatch {
    border-radius: var(--mantine-radius-sm);
    border: 1px solid var(--category-border-color);
    background-color: var(--category-background-color);
    color: var(--category-text-color);
    cursor: pointer;
    box-shadow: 0px -1px 0px 0px rgba(4, 4, 4, 0.04) inset;
}

.swatch:hover {
    background-color: var(--category-hover-background-color);
    transition: background-color 200ms ease-in-out;
}
