/* MetricExploreModalV2.module.css */

.modalContent {
    overflow: hidden;
}

.modalHeader {
    border-bottom: 1px solid var(--mantine-color-ldGray-2);
    padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
}

.kbd {
    background: #575656;
    color: white;
    border-radius: 5px;
    border: 1px solid #2b2b2a;
}

.navActionIcon {
    border: 1px solid var(--mantine-color-ldGray-2);
}

.modalBody {
    display: flex;
    flex: 1;
}

.sidebarContainer {
    position: relative;
}

.disabledOverlay {
    opacity: 0.6;
    pointer-events: none;
}

.clearButton {
    visibility: hidden;
}

.clearButton:hover {
    background-color: var(--mantine-color-ldGray-1);
}
