.chartRow {
    display: flex;
    gap: var(--mantine-spacing-sm);
    align-items: flex-start;
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        background-color: var(--mantine-color-ldGray-0);

        @mixin dark {
            background-color: var(--mantine-color-ldDark-5);
        }
    }
}
