.accordionControl {
    height: var(--mantine-spacing-xxl);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    background-color: light-dark(
        var(--mantine-color-ldGray-0),
        var(--mantine-color-ldDark-6)
    );

    &:hover {
        background-color: light-dark(
            var(--mantine-color-ldGray-1),
            var(--mantine-color-ldDark-5)
        );
    }
}

.accordionLabel {
    padding: 0;
}

.accordionContent {
    padding: var(--mantine-spacing-xs);
}
