.container {
    flex-shrink: 0;
    border-radius: var(--mantine-radius-md);
    cursor: pointer;
    transition: all 100ms ease;
    background-color: var(--mantine-color-ldDark-4);
    overflow: hidden;

    &:hover {
        background-color: var(--mantine-color-ldDark-5);
    }

    @media (min-width: 75em) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.icon {
    flex-shrink: 0;
    @mixin light {
        color: var(--mantine-color-ldGray-9);
    }
    @mixin dark {
        color: var(--mantine-color-ldDark-9);
    }
}

.text {
    flex-grow: 1;
    position: relative;
    top: 1px;
    user-select: none;
}

.badge {
    flex-shrink: 0;
    user-select: none;
    background-color: var(--mantine-color-ldGray-2);
}
