.modalBody {
    padding: 0;
}

.inputWrapper {
    position: sticky;
    z-index: 1;
    top: 0;
}

.input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
