.action {
    display: flex;
    align-items: center;
    height: var(--mantine-spacing-4xl);
    padding-left: var(--mantine-spacing-xs);
    padding-right: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    cursor: pointer;

    &:hover,
    &[data-hovered] {
        background-color: light-dark(
            var(--mantine-color-ldGray-1),
            var(--mantine-color-ldDark-5)
        );
    }

    &:active {
        background-color: light-dark(
            var(--mantine-color-ldGray-2),
            var(--mantine-color-ldDark-6)
        );
    }
}

.iconContainer {
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    overflow: hidden;
}
