.container {
    flex-shrink: 0;
    height: rem(28px);
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-default-border);
    background-color: var(--mantine-color-default-hover);
    cursor: pointer;
    overflow: hidden;
    transition:
        border-color 120ms ease,
        background-color 120ms ease;

    &:hover {
        border-color: var(--mantine-color-ldGray-3);
    }

    @media (min-width: 75em) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.icon {
    flex-shrink: 0;
    color: var(--mantine-color-dimmed);
}

.text {
    flex-grow: 1;
    color: var(--mantine-color-placeholder);
    user-select: none;
}
