.groups {
    padding: var(--mantine-spacing-xxs) var(--mantine-spacing-xs)
        var(--mantine-spacing-xs);
}

.group {
    padding-top: var(--mantine-spacing-xs);
}

.group:first-child {
    padding-top: 0;
}

.groupLabel {
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-xxs) var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);

    &:hover {
        background-color: light-dark(
            var(--mantine-color-ldGray-0),
            var(--mantine-color-ldDark-3)
        );
    }
}

.groupChevron {
    color: light-dark(
        var(--mantine-color-ldGray-5),
        var(--mantine-color-ldGray-7)
    );
}

.groupLabelText {
    color: light-dark(
        var(--mantine-color-ldGray-7),
        var(--mantine-color-ldGray-7)
    );
}

.groupCount {
    color: light-dark(
        var(--mantine-color-ldGray-5),
        var(--mantine-color-ldGray-7)
    );
}
