.filterButton {
    border: 1px dashed var(--mantine-color-indigo-2);
    text-overflow: ellipsis;
    box-shadow: var(--mantine-shadow-subtle);

    &:hover {
        background-color: var(--mantine-color-ldGray-0);
        transition: background-color var(--ld-transition-duration)
            var(--ld-transition-timing-function);
    }
}

.filterButtonSelected {
    border: 1px solid var(--mantine-color-indigo-2);
    background-color: var(--mantine-color-indigo-0);
}

.filterButtonLabel {
    height: 24px;
}

.scrollableList {
    overflow-y: auto;
}

.checkbox {
    align-items: center;
}

.checkboxInput {
    border-radius: var(--mantine-radius-sm);
    border: 1px solid var(--mantine-color-ldGray-4);
}

[data-mantine-color-scheme='dark'] .filterButton {
    border-color: var(--mantine-color-ldGray-3);
}

[data-mantine-color-scheme='dark'] .filterButtonSelected {
    border-color: var(--mantine-color-ldGray-3);
    background-color: transparent;
}
