.user-settings {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.user-settings .bp4-vertical {
    flex: 1;
    overflow: hidden;
}

.user-settings .bp4-vertical .bp4-tab-list {
    border-right: 1px solid #bfccd6;
    padding: 20px;
}

.user-settings .bp4-tab-panel {
    padding: 20px;
    flex: 1;
    overflow: auto;
}
