.user-settings .bp3-vertical {
    flex: 1;
}

.user-settings .bp3-vertical .bp3-tab-list {
    border-right: 1px solid #bfccd6;
    padding: 20px;
}

.user-settings .bp3-tab-panel {
    padding: 20px;
    flex: 1;
}
