.treeItem {
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-ldGray-2);
    cursor: pointer;

    &:hover {
        background-color: var(--mantine-color-ldGray-1);
    }
}

.treeItemActive {
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-blue-4);
    cursor: pointer;
    background-color: var(--mantine-color-blue-0);
}

.sidebar {
    background-color: var(--mantine-color-ldGray-0);
    border: 0;
}

.resizeHandle {
    background-color: var(--mantine-color-ldGray-0);
    width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: col-resize;
    transition: background-color 0.2s ease-in-out;
    border-right: 1px solid var(--mantine-color-ldGray-2);

    &:hover {
        background-color: var(--mantine-color-ldGray-1);
    }

    &[data-resize-handle-state='drag'] {
        background-color: var(--mantine-color-ldGray-2);
    }
}
