.row {
    width: 100%;
    justify-content: space-between;
}

.name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swatches {
    flex-shrink: 0;
}

.miniChartCardLight,
.miniChartCardDark {
    padding: var(--mantine-spacing-xs);
    border: 1px solid var(--mantine-color-gray-2);
    border-radius: var(--mantine-radius-sm);
    flex: 1;
}

.miniChartCardLight {
    background: var(--mantine-color-white);
}

.miniChartCardDark {
    background: var(--mantine-color-dark-7);
    border-color: var(--mantine-color-dark-5);
}

.miniChartLight,
.miniChartDark {
    width: 100%;
}
