.iconBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;

    @mixin dark {
        background-color: var(--mantine-color-ldDark-5);
    }
}

.tooltipPointerEvents {
    pointer-events: auto;
}
