version: '3.8'
volumes:
    node_modules:
    results-data:
    gitea-data:

# Common configuration for Lightdash services
x-lightdash-build: &lightdash-build
    context: ..
    dockerfile: dockerfile
    target: dev

x-lightdash-volumes: &lightdash-volumes
    - '../:/usr/app'
    - '../examples/full-jaffle-shop-demo/dbt:/usr/app/dbt'
    - 'node_modules:/usr/app/node_modules/' # clears the node_modules directory so it doesn't sync (v.slow on MacOS)
    - 'results-data:/var/lib/lightdash/results'
    # - ${HOME}/.config/gcloud:/root/.config/gcloud # Uncomment this line if you want to use your credential as gcloud ADC in dev container

x-lightdash-environment: &lightdash-environment
    PGHOST: ${PGHOST}
    PGPORT: ${PGPORT}
    PGUSER: ${PGUSER}
    PGPASSWORD: ${PGPASSWORD}
    PGDATABASE: ${PGDATABASE}
    PGCONNECTIONURI: ${PGCONNECTIONURI}
    RUDDERSTACK_WRITE_KEY: ${RUDDERSTACK_WRITE_KEY}
    RUDDERSTACK_DATA_PLANE_URL: ${RUDDERSTACK_DATA_PLANE_URL}
    SECURE_COOKIES: ${SECURE_COOKIES}
    LIGHTDASH_SECRET: ${LIGHTDASH_SECRET}
    LIGHTDASH_LOG_LEVEL: ${LIGHTDASH_LOG_LEVEL}
    LIGHTDASH_LICENSE_KEY: ${LIGHTDASH_LICENSE_KEY}
    NODE_ENV: ${NODE_ENV}
    DBT_DEMO_DIR: ${DBT_DEMO_DIR}
    DBT_CLOUD_BEARER_TOKEN: ${DBT_CLOUD_BEARER_TOKEN}
    DBT_CLOUD_ENVIRONMENT_ID: ${DBT_CLOUD_ENVIRONMENT_ID}
    DBT_CLOUD_DOMAIN: ${DBT_CLOUD_DOMAIN}
    AUTH_DISABLE_PASSWORD_AUTHENTICATION: ${AUTH_DISABLE_PASSWORD_AUTHENTICATION}
    AUTH_ENABLE_GROUP_SYNC: ${AUTH_ENABLE_GROUP_SYNC}
    SITE_URL: ${SITE_URL}
    EXPOSED_SITE_URL: ${EXPOSED_SITE_URL}
    ALLOW_MULTIPLE_ORGS: ${ALLOW_MULTIPLE_ORGS}
    LIGHTDASH_QUERY_MAX_LIMIT: ${LIGHTDASH_QUERY_MAX_LIMIT}
    HEADLESS_BROWSER_HOST: ${HEADLESS_BROWSER_HOST}
    HEADLESS_BROWSER_PORT: ${HEADLESS_BROWSER_PORT}
    INTERNAL_LIGHTDASH_HOST: ${INTERNAL_LIGHTDASH_HOST}
    USE_SECURE_BROWSER: ${USE_SECURE_BROWSER}
    GROUPS_ENABLED: ${GROUPS_ENABLED}
    SERVICE_ACCOUNT_ENABLED: ${SERVICE_ACCOUNT_ENABLED}
    POSTHOG_PROJECT_API_KEY: ${POSTHOG_PROJECT_API_KEY}
    OPENAI_API_KEY: ${OPENAI_API_KEY}
    ANTHROPIC_API_KEY: ${ANTHROPIC_API_KEY}
    AI_COPILOT_ENABLED: ${AI_COPILOT_ENABLED}
    AI_DEFAULT_PROVIDER: ${AI_DEFAULT_PROVIDER}
    AI_EMBEDDING_ENABLED: ${AI_EMBEDDING_ENABLED}
    AI_DEFAULT_EMBEDDING_PROVIDER: ${AI_DEFAULT_EMBEDDING_PROVIDER}
    AI_VERIFIED_ANSWER_SIMILARITY_THRESHOLD: ${AI_VERIFIED_ANSWER_SIMILARITY_THRESHOLD}
    AZURE_AI_ENDPOINT: ${AZURE_AI_ENDPOINT}
    AZURE_AI_API_KEY: ${AZURE_AI_API_KEY}
    AZURE_AI_API_VERSION: ${AZURE_AI_API_VERSION}
    AZURE_AI_DEPLOYMENT_NAME: ${AZURE_AI_DEPLOYMENT_NAME}
    AZURE_EMBEDDING_DEPLOYMENT_NAME: ${AZURE_EMBEDDING_DEPLOYMENT_NAME}
    AZURE_USE_DEPLOYMENT_BASED_URLS: ${AZURE_USE_DEPLOYMENT_BASED_URLS}
    POSTHOG_FE_API_HOST: ${POSTHOG_FE_API_HOST}
    POSTHOG_BE_API_HOST: ${POSTHOG_BE_API_HOST}
    SLACK_SIGNING_SECRET: ${SLACK_SIGNING_SECRET}
    SLACK_CLIENT_ID: ${SLACK_CLIENT_ID}
    SLACK_CLIENT_SECRET: ${SLACK_CLIENT_SECRET}
    SLACK_STATE_SECRET: ${SLACK_STATE_SECRET}
    GITHUB_PRIVATE_KEY: ${GITHUB_PRIVATE_KEY}
    GITHUB_APP_ID: ${GITHUB_APP_ID}
    GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
    GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
    GITHUB_APP_NAME: ${GITHUB_APP_NAME}
    GITHUB_REDIRECT_DOMAIN: ${GITHUB_REDIRECT_DOMAIN}
    GOOGLE_DRIVE_API_KEY: ${GOOGLE_DRIVE_API_KEY}
    AUTH_ENABLE_GCLOUD_ADC: ${AUTH_ENABLE_GCLOUD_ADC}
    AUTH_GOOGLE_OAUTH2_CLIENT_ID: ${AUTH_GOOGLE_OAUTH2_CLIENT_ID}
    AUTH_GOOGLE_OAUTH2_CLIENT_SECRET: ${AUTH_GOOGLE_OAUTH2_CLIENT_SECRET}
    RESULTS_LOCAL_PATH: ${RESULTS_LOCAL_PATH:-/var/lib/lightdash/results}
    LIGHTDASH_PROMETHEUS_ENABLED: ${LIGHTDASH_PROMETHEUS_ENABLED}
    TURBO_TOKEN: ${TURBO_TOKEN}
    TURBO_TEAM: ${TURBO_TEAM}
    TURBO_API: ${TURBO_API}

x-lightdash-base: &lightdash-base
    build: *lightdash-build
    depends_on:
        - db-dev
    volumes: *lightdash-volumes
    environment:
        <<: *lightdash-environment

services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=sqlite3 # 使用 SQLite，无需额外安装数据库，最省资源
    restart: always
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3030:3000" # Web 访问端口
      - "222:22"    # SSH 访问端口

  metricflow-service:
    build:
      context: ../packages/metricflow-service
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - gitea
    ports:
      - '8070:8069'
    environment:
      ENVIRONMENTS_CONFIG: /opt/config/env.yml
      DBT_HOST: ${DBT_HOST:-host.docker.internal}
      DBT_PORT: ${DBT_PORT:-5433}
    volumes:
      - ./dev-configs/dbt_repos:/data/mf_repos
      - ./dev-configs/mf_env.yml:/opt/config/env.yml
      - ./dev-configs/mf_profile.yml:/root/.dbt/profiles.yml

  lightdash-dev:
    <<: *lightdash-base
    environment:
      <<: *lightdash-environment
      SCHEDULER_ENABLED: ${SCHEDULER_ENABLED}
      SCHEDULER_INCLUDE_TASKS: ${SCHEDULER_INCLUDE_TASKS}
      SCHEDULER_EXCLUDE_TASKS: ${SCHEDULER_EXCLUDE_TASKS}
      LIGHTDASH_PROMETHEUS_PORT: ${LIGHTDASH_PROMETHEUS_PORT}
      LIGHTDASH_PROMETHEUS_PATH: ${LIGHTDASH_PROMETHEUS_PATH}
    ports:
      - '8080:8080'
      - '9090:9090'
      - '3000:3000'
      - '6006:6006'
      - '9229:9229'
    command: ['pnpm', 'dev']

  db-dev:
    image: pgvector/pgvector:pg16
    restart: always
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'

  ssh-server:
    image: linuxserver/openssh-server:latest
    restart: always
    depends_on:
      - db-dev
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
      - PUBLIC_KEY=${DEV_SSH_PUBLIC_KEY:-}
      - USER_NAME=sshuser
      - SUDO_ACCESS=true
      - PASSWORD_ACCESS=false
      - LOG_STDOUT=true
    ports:
      - '2222:2222'
    volumes:
      - ./dev-configs/sshd_config:/config/sshd/sshd_config

  headless-browser:
    image: ghcr.io/browserless/chromium:v2.24.3
    restart: always
    ports:
      - '3001:3000'

  prometheus:
    image: prom/prometheus:latest
    restart: always
    ports:
      - '9091:9090'
    volumes:
      - ./dev-configs/prometheus.dev.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
