.button {
    border-radius: 100px !important;
}

.unsetRequiredFilter {
    border-style: solid;
    border-width: '3px';
}

.inactiveFilter {
    border-style: dashed;
    border-width: 1px;
    background-color: rgba(var(--mantine-color-background-0), 0.7);
}

.label {
    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
