.yearLevel,
.decadeLevel {
    color: var(--mantine-color-ldGray-7);
    padding: var(--mantine-spacing-xs);
}

.yearLevel[data-year-level]:not(:last-of-type),
.decadeLevel[data-decade-level]:not(:last-of-type),
.monthLevel[data-month-level]:not(:last-of-type) {
    border-right: 1px solid var(--mantine-color-ldGray-2);
    margin-right: 0;
}

.yearLevel[data-year-level]:not(:first-of-type),
.decadeLevel[data-decade-level]:not(:first-of-type) {
    padding-right: 0;
}

.decadeLevel[data-decade-level]:not(:first-of-type) {
    padding-left: 0;
}

.calendarHeaderControlIcon {
    color: var(--mantine-color-ldGray-5);
}

.calendarHeaderLevel {
    color: var(--mantine-color-ldGray-7);
}

.monthLevel,
.monthsList,
.yearsList {
    padding: var(--mantine-spacing-xs);
}

.pickerControl {
    &[data-selected] {
        background-color: var(--mantine-color-ldDark-7);
        border-radius: var(--mantine-radius-md);
    }

    &[data-selected]:hover {
        background-color: var(--mantine-color-ldDark-9);
        border-radius: var(--mantine-radius-md);
    }

    &[data-in-range],
    &[data-in-range]:hover {
        background-color: var(--mantine-color-ldGray-1);
    }

    &[data-last-in-range][data-first-in-range] {
        border-radius: var(--mantine-radius-md);
    }
}

.day {
    border-radius: var(--mantine-radius-lg);

    &[data-weekend='true']:not([data-selected]) {
        color: var(--mantine-color-ldGray-7);
    }

    &[data-in-range],
    &[data-in-range]:hover {
        background-color: var(--mantine-color-ldGray-1);
    }

    &[data-selected] {
        background-color: var(--mantine-color-ldDark-7);
        border-radius: var(--mantine-radius-lg);
    }

    &[data-selected]:hover {
        background-color: var(--mantine-color-ldDark-9);
        border-radius: var(--mantine-radius-lg);
    }
}

.monthsListCell,
.yearsListCell {
    &[data-selected] {
        background-color: var(--mantine-color-ldDark-7);
        border-radius: var(--mantine-radius-lg);
    }

    &[data-selected]:hover {
        background-color: var(--mantine-color-ldDark-9);
    }

    &[data-in-range],
    &[data-in-range]:hover {
        background-color: var(--mantine-color-ldGray-1);
    }
}
