.leftGroup {
    flex-shrink: 0;
    gap: var(--mantine-spacing-sm);
}

.rightGroup {
    flex-shrink: 0;
    gap: var(--mantine-spacing-xs);
}

.logoButton {
    width: auto;
    height: rem(32px);
    padding: 0 rem(2px);

    & svg {
        height: rem(28px);
        width: auto;
    }
}

.spacer {
    flex-grow: 1;
}
