.dropdown {
    min-width: 250px;
    max-height: 450px;
    overflow: auto;
}

.groupHeader {
    width: 100%;
    padding: var(--mantine-spacing-xs);

    &:hover {
        background-color: var(--mantine-color-ldDark-3);
    }
}

.badge {
    text-transform: none;
}

.targetButton {
    max-width: 200px;

    &:disabled {
        color: var(--mantine-color-white);
        background-color: var(--mantine-color-ldDark-6);
        border-color: var(--mantine-color-ldDark-4);
    }
}

.searchHeader {
    position: sticky;
    top: 0;
    background-color: var(--mantine-color-gray-9);
    padding: var(--mantine-spacing-sm);
    box-shadow: 0 2px 8px var(--mantine-color-gray-9);
    border-bottom: 1px solid var(--mantine-color-dark-4);
}

.searchInput {
    background-color: transparent;
    border: 1px solid var(--mantine-color-dark-4);

    &:focus {
        border-color: var(--mantine-color-blue-6);
    }
}

.projectsScroll {
    max-height: 200px;
    overflow: auto;
}

.stickyFooter {
    position: sticky;
    bottom: 0;
    background-color: var(--mantine-color-gray-9);
    /* fixes scroll overlap */
    box-shadow: 0 4px var(--mantine-color-gray-9);
}
