.linkButton {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    color: light-dark(
        var(--mantine-color-ldGray-7),
        var(--mantine-color-dark-2)
    );
}

.linkButton:hover {
    color: light-dark(
        var(--mantine-color-ldGray-9),
        var(--mantine-color-dark-0)
    );
}
