.searchInput {
    height: 32px;
    width: 340px;
    text-overflow: ellipsis;
    font-size: var(--mantine-font-size-sm);
    font-weight: 400;
    color: var(--mantine-color-ldGray-5);
    background: var(--mantine-color-white);
    box-shadow: none;
    border: 1px solid var(--mantine-color-ldGray-2);
}

.searchInput:hover {
    border: 1px solid var(--mantine-color-ldGray-3);
}

.searchInput:focus {
    border: 1px solid var(--mantine-color-blue-5);
}

.searchInputWithValue {
    height: 32px;
    width: 340px;
    text-overflow: ellipsis;
    font-size: var(--mantine-font-size-sm);
    font-weight: 400;
    color: var(--mantine-color-ldGray-8);
    background: var(--mantine-color-white);
    box-shadow: none;
    border: 1px solid var(--mantine-color-ldGray-2);
}

.searchInputWithValue:hover {
    border: 1px solid var(--mantine-color-ldGray-3);
}

.searchInputWithValue:focus {
    border: 1px solid var(--mantine-color-blue-5);
}
