.segmentedControl {
    border-radius: var(--mantine-radius-md);
    gap: var(--mantine-spacing-two);
    padding: var(--mantine-spacing-xxs);
}

.indicator {
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-ldGray-2);
    background-color: white;
    box-shadow: var(--mantine-shadow-subtle);
}

.label {
    height: 24px;
}

.label:where([data-active]) {
    color: var(--mantine-color-indigo-6);
}
