.mark {
    text-transform: none;
    border-radius: 2px;
    @mixin dark {
        background-color: var(--mantine-color-ldDark-6);
    }
    @mixin light {
        background-color: var(--mantine-color-ldGray-2);
    }
}
