.bp3-form-group.input-wrapper label.bp3-label {
    font-weight: 500;
    display: inline-flex;
    gap: 3px;
}

.bp3-form-group.input-wrapper .bp3-text-muted {
    flex: 1;
    display: inline-flex;
    gap: 3px;
    padding-right: 7px;
}
