.bp4-form-group.input-wrapper label.bp4-label {
    font-weight: 500;
    display: inline-flex;
    gap: 3px;
}

.bp4-form-group.input-wrapper .bp4-text-muted {
    flex: 1;
    display: inline-flex;
    gap: 3px;
    padding-right: 7px;
}
