.container {
    opacity: 0;
    text-align: center;
    border-radius: 999px;
    animation: pop-in 700ms 500ms forwards;
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        opacity: 1;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
