@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        opacity: 1;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.container {
    opacity: 0;
    text-align: center;
    animation-name: bounceIn;
    animation-duration: 700ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    border-radius: 999px;
}
