.callout {
    padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
    border-color: var(--mantine-color-ldGray-2);
}

.iconBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: var(--mantine-radius-md);
    background-color: var(--mantine-color-ldGray-1);
}

.button {
    flex-shrink: 0;
}
