.filterButton {
    border: 1px dashed var(--mantine-color-gray-3);
    background: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-subtle);
}

.filterButton:hover {
    border: 1px dashed var(--mantine-color-gray-4);
    background: var(--mantine-color-gray-0);
}

.filterButtonSelected {
    border: 1px solid var(--mantine-color-indigo-2);
    background: var(--mantine-color-indigo-0);
    box-shadow: var(--mantine-shadow-subtle);
}

.filterButtonSelected:hover {
    border: 1px solid var(--mantine-color-indigo-3);
    background: var(--mantine-color-indigo-1);
}

.buttonLabel {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkboxBody {
    align-items: center;
}

.checkboxInput {
    cursor: pointer;
}

.checkboxLabel {
    font-size: var(--mantine-font-size-xs);
    font-weight: 500;
    cursor: pointer;
    color: var(--mantine-color-gray-8);
}
