.searchInput {
    height: 32px;
    width: 309px;
    text-overflow: ellipsis;
    font-size: var(--mantine-font-size-sm);
    font-weight: 400;
    color: var(--mantine-color-ldGray-5);
    box-shadow: var(--mantine-shadow-subtle);
    border: 1px solid var(--mantine-color-ldGray-3);
    background: var(--mantine-color-background);

    @mixin dark {
        border-color: var(--mantine-color-ldGray-4);
    }
}

.searchInput:hover {
    border: 1px solid var(--mantine-color-ldGray-4);

    @mixin dark {
        border-color: var(--mantine-color-ldGray-5);
    }
}

.searchInput:focus {
    border: 1px solid var(--mantine-color-blue-5);
}

.searchInputWithValue {
    height: 32px;
    width: 309px;
    text-overflow: ellipsis;
    font-size: var(--mantine-font-size-sm);
    font-weight: 400;
    color: var(--mantine-color-foreground);
    box-shadow: var(--mantine-shadow-subtle);
    border: 1px solid var(--mantine-color-ldGray-3);
    background: var(--mantine-color-background);

    @mixin dark {
        border-color: var(--mantine-color-ldGray-4);
    }
}

.searchInputWithValue:hover {
    border: 1px solid var(--mantine-color-ldGray-4);

    @mixin dark {
        border-color: var(--mantine-color-ldGray-5);
    }
}

.searchInputWithValue:focus {
    border: 1px solid var(--mantine-color-blue-5);
}
