.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fill-app {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.disabled-filter > input,
.disabled-filter input,
.disabled-filter > .bp4-input,
.disabled-filter.bp4-input {
    background: none !important;
    color: #1c2127 !important;
}

.disabled-filter > select,
.disabled-filter > button {
    background-color: #f6f7f9 !important;
    color: #1c2127 !important;
}
.disabled-filter > .bp4-icon-caret-down,
.bp4-icon-double-caret-vertical,
.bp4-button-group {
    display: none; /* Remove select arrow */
}
