body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background: rgb(245, 248, 250);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/*sidebar-menus*/
.bp4-tree-root {
    /* Visual alignment */
    margin-left: -6px;
}

.bp4-tree-node-content-0:hover {
    background: none;
}

.bp4-tree-node-content-0 .bp4-tree-node-label {
    font-weight: 600;
    white-space: normal;
}

/* When there is a join tables remove hove state from the first item of the treeNode */
.bp4-tree-node .bp4-tree-node-expanded .bp4-tree-node-content-1:hover {
    background: none;
    cursor: auto;
}

.bp4-tree-node-content-2:hover,
.bp4-tree-node-content-3:hover,
.bp4-tree-node-content-4:hover {
    background: rgba(143, 153, 168, 0.15);
    cursor: pointer;
}

/* multi select */
.bp4-multi-select-popover .bp4-menu {
    max-height: 300px;
    max-width: 400px;
    overflow: auto;
}

/* Input fields */
.bp4-input {
    border: 0.7px solid #d3d8de;
    box-shadow: inset 0px 1px 1px rgba(16, 22, 26, 0.2);
}

.bp4-input::placeholder {
    color: #8f99a8;
}
