.reactFlow {
    --xy-edge-stroke: var(--mantine-color-ldGray-4);
    --xy-edge-stroke-selected: var(--mantine-color-blue-6);
    --xy-handle-background-color-default: var(--mantine-color-ldGray-6);
    --xy-handle-border-color-default: var(--mantine-color-background-0);
}
