.drawerContent {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.drawerBody {
    flex: 1;
    min-height: 0;
    padding: 0;
}

.resizeHandle {
    background-color: var(--mantine-color-ldGray-0);
    width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: col-resize;
    border-right: 1px solid var(--mantine-color-ldGray-2);
}

.resizeHandle:hover {
    background-color: var(--mantine-color-ldGray-1);
}

.resizeHandle[data-active] {
    background-color: var(--mantine-color-ldGray-2);
}

@media (width < $mantine-breakpoint-sm) {
    .resizeHandle {
        display: none;
    }
}
