.tileScrollArea {
    max-height: min(50vh, calc(100vh - 200px));
    overflow: auto;
}

.checkboxBody {
    align-items: center;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    padding-inline-start: var(--mantine-spacing-xs);
}

.inlineDropdown {
    position: static !important;
    width: 100% !important;
    margin-top: 4px;
    transform: none !important;
}
