.option[data-checked] {
    background-color: var(--mantine-primary-color-filled);
    color: var(--mantine-color-white);

    & * {
        --mantine-color-dimmed: var(--mantine-color-white);
        color: var(--mantine-color-white);
        border-color: rgba(255, 255, 255, 0.4);
    }
}

.option[data-checked]:hover {
    background-color: var(--mantine-primary-color-filled-hover);
}
