.paper {
    overflow: hidden;
    background-color: transparent !important;

    &:where([data-is-selectable='true']) {
        cursor: pointer;

        &:hover {
            background-color: var(--mantine-color-gray-0) !important;
        }

        &:is([data-selected='true']) {
            background-color: var(--mantine-color-blue-0) !important;
        }
    }
}

.actionIcon {
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }

    &:where([data-has-children='false']) {
        visibility: hidden;
    }
}
