.trendPill {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    padding: 2px 6px;
    border-radius: 100px;
    border: 1px solid;
    font-weight: 500;
}

.trendPillUp {
    color: var(--mantine-color-green-light-color);
    border-color: var(--mantine-color-green-outline);
    background-color: var(--mantine-color-green-light);
}

.trendPillDown {
    color: var(--mantine-color-red-light-color);
    border-color: var(--mantine-color-red-outline);
    background-color: var(--mantine-color-red-light);
}

.trendPillNeutral {
    color: var(--mantine-color-ldGray-7);
    background-color: var(--mantine-color-ldGray-0);
    border-color: var(--mantine-color-ldGray-3);
}
