.sidebar {
    border-radius: var(--mantine-radius-md);
}

.scopePanel {
    border-radius: var(--mantine-radius-md);
}

.groupListItem {
    width: 100%;
    min-width: 270px;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);
    transition: background-color 150ms ease;

    &:hover {
        @mixin light {
            background-color: var(--mantine-color-gray-0);
        }
        @mixin dark {
            background-color: var(--mantine-color-dark-6);
        }
    }

    &[data-active='true'] {
        @mixin light {
            background-color: var(--mantine-color-blue-0);
        }
        @mixin dark {
            background-color: var(--mantine-color-blue-9);
        }
    }
}

.scopeItem {
    border-bottom: 1px solid var(--mantine-color-ldGray-2);
}

.scopeItem:last-child {
    border-bottom: none;
}

.scopeContent {
    flex: 1;
    min-width: 0;
}

.scopeDescription {
    line-height: 1.4;
}
