.accordion {
    border: 1px solid var(--mantine-color-ldGray-2);
}

.controlPanel {
    flex: 1;
    min-width: 0;
    background-color: var(--mantine-color-body);
}

.panel {
    background-color: var(--mantine-color-body);
    border-radius: var(--mantine-radius-sm);
}

.seriesCard {
    background-color: var(--mantine-color-ldGray-0);
    border-radius: var(--mantine-radius-md);
    padding: var(--mantine-spacing-xs);
}
