.root {
    border-bottom: 1px solid light-dark(
        var(--mantine-color-gray-3),
        var(--mantine-color-dark-4)
    );
    background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-6)
    );
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
