.meta {
    margin-bottom: 4px;
    line-height: 1;
    min-width: 0;
}

.name {
    @mixin light {
        color: var(--mantine-color-indigo-7);
    }
    @mixin dark {
        color: var(--mantine-color-indigo-3);
    }
}

.time {
    flex-shrink: 0;
    white-space: nowrap;
}
