.feedbackInput {
    background-color: rgba(255, 255, 255, 0.3) !important;

    --input-bd-focus: var(--mantine-color-ldGray-7);
    &:focus {
        outline: 4px solid var(--mantine-color-ldGray-2);
    }
}
