.itemButton {
    cursor: default;
    border: none;
    color: var(--mantine-color-dark-7);
}

.itemButton:hover {
    transform: none;
}

.itemButton:active {
    transform: none;
}

.itemText {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
