.backdropBackground {
    backdrop-filter: blur(20px);

    @mixin light {
        background-color: alpha(var(--mantine-color-white), 0.1);
    }

    @mixin dark {
        background-color: alpha(var(--mantine-color-dark-8), 0.1);
    }

    border-top-left-radius: var(--mantine-radius-lg);
    border-top-right-radius: var(--mantine-radius-lg);
}

.input {
    @mixin light {
        background-color: alpha(var(--mantine-color-white), 0.3);
    }
    @mixin dark {
        background-color: alpha(var(--mantine-color-dark-8), 0.3);
    }

    --input-bd-focus: var(--mantine-color-ldGray-7);
    &:focus {
        outline: 4px solid var(--mantine-color-ldGray-2);
    }
}
