.errorText {
    font-size: var(--mantine-font-size-xs);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);

    @mixin light {
        color: var(--mantine-color-red-7);
    }

    @mixin dark {
        color: var(--mantine-color-red-4);
    }
}

.sqlPreview {
    font-size: var(--mantine-font-size-xs);
    margin-top: var(--mantine-spacing-xs);
    max-height: 80px;
    overflow-y: auto;

    @mixin light {
        background-color: var(--mantine-color-ldGray-0);
    }

    @mixin dark {
        background-color: var(--mantine-color-ldDark-5);
    }
}
