.root[data-avatar-gradient] .placeholder {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    border-radius: 50%;
    color: var(--mantine-color-white);
}

.root[data-avatar-gradient='lilac'] .placeholder {
    background:
        radial-gradient(circle at 25% 35%, #d1ccff 0%, transparent 60%),
        radial-gradient(circle at 75% 65%, #a499ff 0%, transparent 60%), #b3a0ff;
}
.root[data-avatar-gradient='blush'] .placeholder {
    background:
        radial-gradient(circle at 20% 30%, #ffd1e8 0%, transparent 60%),
        radial-gradient(circle at 80% 70%, #d9b3ff 0%, transparent 60%), #dfa5d0;
}
.root[data-avatar-gradient='minty'] .placeholder {
    background:
        radial-gradient(circle at 25% 35%, #edfbd0 0%, transparent 60%),
        radial-gradient(circle at 75% 65%, #dbfe95 0%, transparent 60%), #ddf58e;
}
.root[data-avatar-gradient='sunrise'] .placeholder {
    background:
        radial-gradient(circle at 20% 30%, #d1ccff 0%, transparent 60%),
        radial-gradient(circle at 80% 70%, #daf6a2 0%, transparent 60%), #cccdb3;
}
.root[data-avatar-gradient='amethyst'] .placeholder {
    background:
        radial-gradient(circle at 20% 25%, #b267fe 0%, transparent 60%),
        radial-gradient(circle at 80% 75%, #a499ff 0%, transparent 60%), #a87dff;
}
