.avatar {
    cursor: pointer;
    background-color: var(--mantine-color-ldGray-2);
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--mantine-color-ldGray-3);
    }
}

.placeholder {
    color: var(--mantine-color-ldDark-9);
}
