.tileWrapper {
    position: relative;
    height: 100%;
}

.tileCard {
    overflow: unset;
    box-shadow: unset;

    border: 1px solid
        light-dark(
            var(--mantine-color-ldGray-2),
            lighten(var(--mantine-color-ldDark-2), 0.05)
        ) !important;

    &[data-with-transparent-border='true'] {
        border: 1px solid transparent !important;
    }

    &[data-with-edit-mode='true'] {
        border: 1px dashed var(--mantine-color-blue-5) !important;
    }

    &[data-has-error='true'] {
        border-style: dashed !important;
        background: transparent !important;
    }

    &[data-with-shadow='true'] {
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.03);
    }
}

.dragHandleIcon {
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
}
