.resizeHandle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    z-index: 2;
}

.resizeHandle:hover {
    background: var(--mantine-color-blue-3);
}

.resizeHandleActive {
    background: var(--mantine-color-blue-5);
}
