.button {
    display: flex;
    align-items: center;
    height: var(--mantine-spacing-5xl);
    border-width: 1px;
    border-style: solid;
    border-color: var(--mantine-color-ldGray-3);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-sm);
}

.button:hover {
    border-color: var(--mantine-color-ldGray-4);
    background-color: var(--mantine-color-ldGray-0);
}

.button:active {
    position: relative;
    top: 1px;
}
