.containedList {
}

.containedList :global(.mantine-Accordion-control) {
    padding: var(--mantine-spacing-xs);
}

.containedList :global(.mantine-Accordion-label) {
    padding: 0;
}

.containedList :global(.mantine-Accordion-panel) {
    padding: 0;
}

.controlRow {
    border-radius: var(--mantine-radius-sm);
}

.controlRow:hover {
    background-color: var(--mantine-color-ldGray-0);

    @mixin dark {
        background-color: var(--mantine-color-ldDark-5);
    }
}

.controlLabel {
    flex: 1;
}

.controlButton {
    flex: 0;
}
