.disabledColorSwatch {
    position: relative;
    pointer-events: none;
}

.disabledColorSwatch::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(
        to top right,
        transparent calc(50% - 1px),
        var(--mantine-color-ldDark-4) calc(50% - 1px),
        var(--mantine-color-ldDark-4) calc(50% + 1px),
        transparent calc(50% + 1px)
    );
}
