.highlightPanel {
    border: 1px solid
        light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    border-radius: var(--mantine-radius-md);
    background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-6)
    );
    padding: var(--mantine-spacing-sm);
}

.highlightPanelActive {
    background-color: var(--mantine-color-blue-light);
}
