.sortItem {
    border-radius: var(--mantine-radius-sm);
    transition: all 100ms ease;
}

.sortItemDragging {
    box-shadow: var(--mantine-shadow-md);
}

.dragHandle {
    opacity: 0.6;
}

.dragHandle:hover {
    opacity: 1;
}
