name: Build Container & Release to Docker Hub

on:
  push:
    tags:
      - '*'
      - '!*-alpha*'
      - '!*-beta*'

  workflow_dispatch:

env:
  REGISTRY_IMAGE: lightdash/lightdash

jobs:
  docker-build:
    runs-on: ubuntu-latest
    # Set permissions for depot OIDC authentication
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Set up Docker tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=semver,pattern={{version}}

      # Set up Depot for faster Docker builds
      - name: Set up Depot CLI
        uses: depot/setup-action@v1

      # Credentials for pushing final image to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: build
        uses: depot/build-push-action@v1
        with:
          project: bgbbt3d0kc # depot project id
          file: dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64


