name: Build Container & Release to Docker Hub

on:
  push:
    tags:
      - '*'
      - '!*-alpha*'
      - '!*-beta*'

  workflow_dispatch:

env:
  REGISTRY_IMAGE: lightdash/lightdash

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=semver,pattern={{version}}

      # Improved Docker builds
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Credentials for pushing final image to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: build
        uses: docker/build-push-action@v5
        with:
          file: dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          cache-from: type=registry,ref=${{ env.REGISTRY_IMAGE }}
          cache-to: type=registry,mode=min,ref=${{ env.REGISTRY_IMAGE }}


