name: Create Sentry release
on:
    workflow_dispatch:
        inputs:
            version:
                required: true
                description: 'Release version number'

jobs:
    create-sentry-release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - uses: actions/setup-node@v4
              with:
                  node-version: '20'
                  cache: 'yarn'
            - name: Install packages
              run: yarn install --frozen-lockfile
            - name: Build
              run: yarn workspace frontend build
            - name: List output files - debugging
              run: ls -R ./packages/frontend/build/assets/
            - name: Create Sentry release
              uses: getsentry/action-release@v1
              env:
                  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
                  SENTRY_ORG: lightdash
                  SENTRY_PROJECT: lightdash-frontend
              with:
                  version: ${{ github.event.inputs.version }}
                  environment: 'cloud-beta'
                  sourcemaps: './packages/frontend/build/assets/'
