name: GCP build and push
on:
  workflow_dispatch

jobs:
  release:
    runs-on: lightdash-large-runner
    concurrency: ${{ github.ref }}
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.CI_GITHUB_TOKEN }}
          persist-credentials: false

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'
        with:
          version: '>= 381.0.0'

      - name: 'Use gcloud CLI'
        run: 'gcloud info'

      - name: Build and push
        run: bash ./scripts/gcp-build-and-push.sh