name: Security

on:
  pull_request:
    branches: [ main ]

jobs:

  build:
    if: "false"
    runs-on: blacksmith-4vcpu-ubuntu-2404

    steps:
    - uses: actions/checkout@v4
    - name: Dependencies audit
      run: pnpm audit --prod --audit-level high
