name: Security

on:
  pull_request:
    branches: [ main ]

jobs:

  build:
    if: "false"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v2
      with:
        version: 8
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'pnpm'
    - name: Dependencies audit
      run: pnpm audit --audit-level high
