name: Test

on:
    push:
        branches: [main]
    pull_request:
        types: [opened, synchronize, reopened]
    workflow_dispatch:

jobs:
    build:
        runs-on: blacksmith-4vcpu-ubuntu-2404

        steps:
            - uses: actions/checkout@v4
            # Install packages
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '20'
                  cache: 'pnpm'
                  cache-dependency-path: 'pnpm-lock.yaml'
            - name: Install packages
              run: pnpm install --frozen-lockfile --prefer-offline
            - name: Lint all packages
              run: pnpm lint
            - name: Check formatting all packages
              run: pnpm format
            - name: Check for unused exports
              run: pnpm -F frontend unused-exports

            - name: Build common
              run: pnpm common-build

            - name: Build warehouses
              run: pnpm warehouses-build

            - name: Build frontend
              run: pnpm frontend-build

            - name: Build Backend
              run: pnpm backend-build

            - name: Check types for all packages
              run: pnpm typecheck

            - name: Run unit tests
              run: pnpm test