name: Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            # Install packages
            - uses: pnpm/action-setup@v4
              with:
                  version: 9
            - uses: actions/setup-node@v4
              with:
                  node-version: '20'
                  cache: 'pnpm'
                  cache-dependency-path: 'pnpm-lock.yaml'
            - name: Install packages
              run: pnpm install --frozen-lockfile --prefer-offline
            - name: Run dangerjs
              if: github.event_name == 'pull_request'
              run: pnpm danger-ci-lint
              env:
                  GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
            - name: Lint all packages
              run: pnpm lint
            - name: Check formatting all packages
              run: pnpm format
            - name: Check for unused exports
              run: pnpm -F frontend unused-exports

            - name: Build common
              run: pnpm common-build

            - name: Build warehouses
              run: pnpm warehouses-build

            - name: Run unit tests
              run: pnpm backend-build && pnpm test
