name: Validate PR Title
on: 
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - name: Validate PR Title
      uses: amannn/action-semantic-pull-request@e32d7e603df1aa1ba07e981f2a23455dee596825 #v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        validateSingleCommit: true
